* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/*----------------------------------*/

body{
    position: relative;
    display: block;
    width: 100%;
    min-width: 320px;
    max-width: 2560px;
    height: auto;
    margin: 0px auto;
    background-color: rgb(204, 198, 198);
    font-family: sans-serif;
}

/*----------------------------------*/

header{
    display: block;
    width: 100%;
    height: auto;
}
    .nav_container{
        display: none;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2050;
        background-color: transparent;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        opacity: 0;
    }.nav_container.active{
        display: block;
        background-color: rgb(34, 37, 49) !important;
        position: fixed;
        background: #000;
        -webkit-box-shadow: 0 1px 5px rgb(0 0 0 / 25%);
        box-shadow: 0 1px 5px rgb(0 0 0 / 25%);
        opacity: 1;
    }
        .off_screen_menu {
            position: fixed;
            top: 0;
            left: -450px;
            padding: 75px 40px;
            width: 100%;
            height: 100vh;
            max-width: 450px;
            font-size: 26px;
            transition: .3s ease;
            background-color:  rgb(34, 37, 49);
            
        }.off_screen_menu.active {
            left: 0;
        }
            .off_screen_menu ul{
                display: block;
                width: auto;
                height: auto;
            }
                .off_screen_menu li{
                    width: 100%;
                    height: auto;
                    margin: 13px 0px;
                }
                .off_screen_menu li hr{
                    margin: 30px 0px;
                }
                    .off_screen_menu li a {
                        color: white;
                    }
                    .off_screen_menu li a:visited {
                        color: white;
                    }
                    .off_screen_menu li a:hover {
                        color: #6F86FF;
                    }
        .nav {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            width: 100%;
            height: auto;
            padding: 6px 16px;
            background-color: rgb(34, 37, 49) ;
        }
            .nav_menu {
                display: inline-block;
                position: relative;
                margin-right: 15px;
                height: 50px;
                width: 25px;
                cursor: pointer;
            }
                .nav_menu span {
                        height: 2px;
                        width: 100%;
                        background-color: #ffff;
                        border-radius: 25px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        transition: .3s ease;
                }
                .nav_menu span:nth-child(1) {
                        top: 35%;
                }
                .nav_menu span:nth-child(3) {
                        top: 65%;
                }
                .nav_menu.active span {
                        background-color: white;
                }
                .nav_menu.active span:nth-child(1) {
                        top: 50%;
                        transform: translate(-50%, -50%) rotate(45deg);
                }
                .nav_menu.active span:nth-child(2) {
                        opacity: 0;
                }
                .nav_menu.active span:nth-child(3) {
                        top: 50%;
                        transform: translate(-50%, -50%) rotate(-45deg);
                }
            .nav_logo{
                    display: inline-block;
                    width: auto;
                    height: auto;
            }
                .nav_logo img{
                        width: 55px;
                        height: 55px;
                }
            .nav_buttons{
                    display: none
            }
    .banner{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        padding-top: 100px;
        padding-bottom: 50px;
        background: url('../assets/imagen.jpg') ;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
        .banner img{
            width: 200px;
            height: 200px;
        }
        .banner h1{
            width: 90%;
            margin: 22px 0px;
            text-align: center;
            font-size: 18px;
            line-height: 18px;
        }
        .banner div{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            width: 90%;
            max-width: 425px;
            height: auto;
        }
            .banner div a{
                display: block;
                width: 100%;
                height: auto;
                margin-bottom: 5px;
                padding: 7px 14px;
                line-height: 21px;
                color: rgba(255,255,255);
                background-color: rgb(255, 103, 27);
                text-align: center;
                text-decoration: none;
                font-size: 17px;
                border-radius: 20px;
            }

/*----------------------------------*/

main{
    display: block;
    width: 100%;
    height: auto;
    padding: 128px 0px;
}
    #nuestrahistoria, #horario, #zonareparto, #trabajanosotro{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: auto;
        padding-bottom: 128px;
    }
        .nuestrahistoria_imagen, .horario_imagen, .zonareparto_imagen,.trabajanosotro_imagen{
            display: inline-block;
            width: 100%;
            height: auto;
        }
            .nuestrahistoria_imagen img, .horario_imagen img, .zonareparto_imagen img,.trabajanosotro_imagen img{
                width: 100%;
                height: auto;
            }
        .nuestrahistoria_historia, .horario_horario, .zonareparto_zonareparto, .trabajanosotro_trabajanosotro{
            display: inline-block;
            width: 100%;
            padding: 50px 65px;
        }
            .nuestrahistoria_historia h2, .horario_horario h2, .zonareparto_zonareparto h2, .trabajanosotro_trabajanosotro h2{
                margin-bottom: 25px;
                text-align: left;
                font-size: 32px;
                font-weight: bold;
            }
            .nuestrahistoria_historia p, .horario_horario ul li p, .trabajanosotro_trabajanosotro p{
                margin-bottom: 16px;
                text-align: left;
                line-height: 22px;
                font-size: 16px;
            }
            .horario_horario ul, .zonareparto_zonareparto ul{
                width: 100%;
                height: auto;
                display: block
            }
                .horario_horario ul li{
                    width: 100%;
                    height: auto;
                    margin-bottom: 30px;
                }
                .zonareparto_zonareparto ul li{
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        width: 100%;
                        height: auto;
                        margin-bottom: 16px;
                }
                    .zonareparto_zonareparto ul li span{
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        margin-right: 16px;
                        background-color: gray;
                        border-radius: 100%;
                    }
                    .zonareparto_zonareparto ul li p{
                        text-align: left;
                        line-height: 22px;
                        font-size: 16px;
                        vertical-align: middle;
                    }

    #ubicacion{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 50px 65px;
        padding-bottom: 128px;
    }
        #ubicacion h2{
            margin-bottom: 25px;
            text-align: center;
            font-size: 32px;
            font-weight: bold;
        }
        #ubicacion iframe{
            width: 100%;
            height: 450px;
        }

    #carta{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-bottom: 128px;
    }
        .carta_titulo{
            width: 100%;
            height: auto;
            margin-bottom: 40px;
        }
            .carta_titulo h2{
                text-align: center;
                font-size: 45px;
                font-weight: bold;
            }
            .carta_titulo span{
                display: block;
                margin: 15px auto;
                height: 3px;
                width: 80px;
                background-color: rgb(34, 37, 49);
            }
        .carta_seccion{
            width: auto;
            height: auto;
            margin-bottom: 40px;
            padding: 0px 30px;
        }
            .carta_seccion h3{
                margin-bottom: 24px;
                text-align: left;
                font-size: 24px;
                font-weight: 600;
                line-height: 30px;
            }
            .carta_seccion ul{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                padding-left: 20px;
                width: 100%;
                max-width: 510px;
            }
                .carta_seccion ul li{
                    display: flex;
                    flex-flow: row wrap;
                    align-items: flex-start;
                    justify-content:space-between;
                    margin-bottom: 36px;
                    width: 100%;
                }
                    .carta_seccion ul li p{
                        width: 70%;
                        margin-bottom: 5px;
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 600;
                    }
                    .carta_seccion ul li span{
                        width: 25%;
                        font-size: 18px;
                        font-weight: 700;
                    }
                    .carta_seccion ul li .carta_seccion_desc {
                        width: 100%;
                        font-size: 14px;
                        font-weight: lighter;
                    }
            .carta_seccion hr{
                display: block;
                width: 80%;
                margin: 10px auto;
                border-right: 1px; 
                border-color: rgba(34, 37, 49, 0.62);
                border-style: dashed;
            }

/*----------------------------------*/

footer{
    display: block;
    margin-bottom: 135px;
    width: 100%;
    height: auto;
    background-color: rgb(34, 37, 49);
}
    .info{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: auto;
        padding: 20px 0px;
    }
        .info_logo, .info_seccion, .info_libro, .info_redes{
            display: inline-block;
            width: 100%;
            height: auto;
            padding: 0px 20px 30px 20px;
        }
                .info_logo img{
                    width: 80px;
                    height: 80px;
                }
            .info_seccion h3, .info_libro h3{
                margin-bottom: 5px;
                text-align: left;
                font-size: 24px;
                font-weight: 600;
                line-height: 30px;
                color: whitesmoke;
            }
                .info_seccion ul li{
                        width: 100%;
                        height: auto;
                        padding-bottom: 5px;
                }
                    .info_seccion ul li a{
                        text-decoration: none;
                        font-size: 13px;
                        line-height: 20px;
                        font-weight: 500;
                        color: whitesmoke;
                    }
                .info_redes ul{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: left;
                    align-items: center;
                }
                    .info_redes ul  li{
                            margin-right: 15px;
                    }
                        .info_redes ul li a{
                            display: block;
                            width: 40px ;
                            height: 40px;
                            background: url('../assets/imagen.jpg') ;
                            background-size: cover;
                            background-repeat: no-repeat;
                            border-radius: 50%;
                            
                        }
            .info_libro span{
                    display: block;
            }
                .info_libro span a{
                    text-decoration: none;
                    font-size: 13px;
                    line-height: 20px;
                    font-weight: 500;
                    color: whitesmoke;
                }
    .copyright{
        display: block;
        width: 100%;
        height: auto;
        padding: 20px 0px;
        padding-bottom: 60px; 
    }
        .copyright span{
            display: block;
            font-size: 12px;
            font-weight: 500;
            text-align: center;
            color: whitesmoke;
        }

/*----------------------------------*/
#extra{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: auto;
    background-color: transparent;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
#extra.active{
    display: block;
}
    .extra_button{
        position: fixed;
        right: 0px;
        bottom: 143px;
        z-index: 1050;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 120px;
        height: 50px;
    }
        .extra_button a{
            width: 44px;
            height: 44px;
            margin: 0px 2px;
            padding: 7px;
            border-radius: 50%;
        }
        .extra_button .wp{
            background-color: #25d366;
        }
        .extra_button .top{
            background-color: rgb(34, 37, 49);
        }
            .extra_button a img{
                width: 100%;
                height: 100%;
            }
        
    .extra_option{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 8px;
        padding: 10px 25px;
        padding-bottom: 25px;
        width: auto;
        height: auto;
        background-color: #FFFFFF;
    }
        .extra_option a{
            display: inline-block;
            margin: 3px 5px;
            width: 45%;
            padding: 13px 17px;
            border: 1px solid #d9d9d9;
            border-radius: 100px;
            color: #000;
            background-color: #ffffff;
            font-size: 14px;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            font-weight: bold;
            font-family: 'PublicSans-SemiBold';
            text-align: center;
        }



/*----------------------------------*/
/* MOBILE */
@media (min-width: 768px) { 

    /*HEADER*/
    .banner div{
        justify-content: space-around;
    }
    .banner div a{
        width: 30%;
        padding: 10px 34px;
    }

    /*MAIN-CONTENT*/
    .nuestrahistoria_imagen, .horario_imagen, .ubicacion_imagen, .zonareparto_imagen,.trabajanosotro_imagen{
        width: 50%;
    }
        .nuestrahistoria_imagen img, .horario_imagen img, .ubicacion_imagen img, .zonareparto_imagen img,.trabajanosotro_imagen img{
            height: 100vh;
        }
    .nuestrahistoria_historia, .horario_horario, .ubicacion_ubicacion, .zonareparto_zonareparto, .trabajanosotro_trabajanosotro{
        width: 50%;
    }
    .nuestrahistoria_imagen, .zonareparto_imagen{
        order: 2;
    }
    .nuestrahistoria_historia, .zonareparto_zonareparto{
        order: 1;
    }

    /*MAIN-CARTA*/
    .carta_seccion ul{
        justify-content: space-between;
    }
        .carta_seccion ul{
            max-width: 690px;
        }
            .carta_seccion ul li{
                width: 47%;
            }

    /*FOOTER*/
    footer{
        margin-bottom: 85px;
    }
    .info{
        padding: 40px 50px;
    }
    .info_logo, .info_seccion, .info_libro, .info_redes{
        width: 50%;
    }

    /*EXTRA*/
    .extra_option a{
        width: auto;
    }
    .extra_button{
        right: 0px;
        bottom: 93px;
    }
}

/* TABLET I */
@media (min-width: 992px) {
    
    /*MAIN-CARTA*/
    .carta_seccion ul{
        max-width: 930px;
    }
        .carta_seccion ul li{
            width: 50%;
        }

    /*FOOTER*/
    .info_logo, .info_seccion, .info_libro, .info_redes{
        width: 25%;
    }
}

/* TABLET II - LAPTOP */
@media (min-width: 1111px) {

    /* HEADER */
    .nav_buttons{
        display: inline-block;
        width: auto;
        height: auto;
        margin-left: auto;
    }
        .nav_buttons a{
            margin: 0px 5px;
            padding: 10px 34px;
            font-size: 17px;
            line-height: 21px;
            font-weight: 400;
            background-color: #ffff;
            border-radius: 100px;
            text-decoration: none;
            color: #000;
        }

    /*MAIN-CARTA*/
    .carta_seccion ul{
        max-width: 960px;
    }

    /*FOOTER*/
    footer{
        margin-bottom: 0px;
    }

    /*EXTRA*/
    .extra_button{
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        right: 0px;
        bottom: 10px;
        width: 100px;
        height: 150px;
    }
        .extra_button a{
            width: 55px;
            height: 55px;
            margin: 8px 2px;
            padding: 7px;
        }
        .extra_button .wp{
            order: 2;
        }
        .extra_button .top{
            order: 1;
        }
    .extra_option {
        display: none;
    }
    
}

/* DESKTOP */
@media (min-width: 1199px) {

    .carta_seccion ul{
        max-width: 1100px;
    }

}