<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sea Savor</title>
    <meta name="description" content="Discover a world of exquisite seafood dishes at SeaSavor. Our restaurant offers a variety of fresh catches prepared with passion and expertise. Join us for an unforgettable dining experience by the sea.">
    <meta name="keywords" content="seafood restaurant, ocean cuisine, fresh seafood, maritime dining, seafood dishes">
    <!--  CSS & LIBRARIES  -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/book.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <!-- HEADER -->
    <header id="header">
        <!-- NAVBAR CONTAINER -->
        <section class="nav_container">
            <!-- LATERAL MENU -->
            <div class="off_screen_menu">
                <ul>
                    <li><a target="_blank" href="https://squareup.com/us/es/appointments">Booking</a></li>
                    <li><a target="_blank" href="https://about.rappi.com/">Delivery</a></li>
                    <li><a target="_blank" href="{% static 'assets/promotions.pdf'%}">Promotions</a></li>
                    <li><hr></li>
                    <li><a href="{% url 'home'%}#aboutus">About Us</a></li>
                    <li><a href="{% url 'home'%}#schedule">Schedule</a></li>
                    <li><a href="{% url 'home'%}#menu">Menu</a></li>
                    <li><a href="{% url 'home'%}#locations">Location</a></li>
                    <li><a href="{% url 'home'%}#workwithus">Work With Us</a></li>
                </ul>
            </div>
            <!-- NAVBAR -->
            <nav class="nav">
                <!-- BUGER BUTTON -->
                <div class="nav_menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!-- LOGO -->
                <div class="nav_logo">
                    <img src="{% static 'assets/logo.png'%}" alt="SeaSavor restaurant logo: A stylized crab representing the freshness and quality of our seafood offerings.">
                </div>
                <!-- OPTIONS -->
                <div class="nav_buttons">
                    <a target="_blank" href="https://squareup.com/us/es/appointments">Booking</a>
                    <a target="_blank" href="https://about.rappi.com/">Delivery</a>
                    <a target="_blank" href="{% static 'assets/promotions.pdf'%}">Promotions</a>
                </div>
            </nav>
        </section>
        <!-- BANNER -->
        <section class="banner">
            <img src="{% static 'assets/logo.png'%}" alt="SeaSavor restaurant logo: A stylized crab representing the freshness and quality of our seafood offerings.">
            <h1>Sea Savor, From the Ocean to Your Plate</h1>
            <div>
                <a target="_blank" href="https://squareup.com/us/es/appointments">Booking</a>
                <a target="_blank" href="https://about.rappi.com/">Delivery</a>
                <a target="_blank" href="{% static 'assets/promotions.pdf'%}">Promotions</a>
            </div>
        </section>
    </header>

    <!-- FORM -->
    <main>
        <div class="form_container">
            <form action="{% url 'form_api'%}" method="POST">
                {% csrf_token %}

                <!-- RECLAMANTE -->
                <h2>Indetificación del Cosumidor Reclamante</h2>

                <!-- nombre -->
                <div class="input_box">
                    <label for="id_reclamante_nombre">Nombre Completo</label>
                    <input id="id_reclamante_nombre" type="text" required maxlength="50" name="reclamante_nombre">
                </div>
                <!-- domicilio -->
                <div class="input_box">
                    <label for="id_reclamante_domicilio">Domicilio</label>
                    <input id="id_reclamante_domicilio" type="text" required maxlength="50" name="reclamante_domicilio">
                </div>
                <!-- tipo documento -->
                <div class="input_select">
                    <label for="id_reclamante_tipo_documento">Tipo de Documento</label>
                    <select id="id_reclamante_tipo_documento" required name="reclamante_tipo_documento" >
                        <option value=>Selecciona un Documento</option>
                        <option value="dni">Dni</option>
                        <option value="pasaporte">Pasaporte</option>
                    </select>
                </div>
                <!-- numero documento -->
                <div class="input_box">
                    <label for="id_reclamante_numero_documento">Número de Documento</label>
                    <input id="id_reclamante_numero_documento" type="text" required minlength="8" maxlength="12", name="reclamante_numero_documento">
                </div>
                <!-- correo -->
                <div class="input_box">
                    <label for="id_reclamante_correo">Correo Electrónico</label>
                    <input id="id_reclamante_correo" type="email" required maxlength="50" name="reclamante_correo">
                </div>
                <!-- numero de contacto -->
                <div class="input_box">
                    <label for="id_reclamante_telefono_celular">Teléfono fijo / Celular</label>
                    <input id="id_reclamante_telefono_celular" type="text" required minlength="7" maxlength="9" name="reclamante_telefono_celular">
                </div>
                <!-- menor de edad -->
                <div class="input_check">
                    <input id="id_reclamante_menor_edad" type="checkbox" value="menor" name="reclamante_menor_edad" >
                    <label for="id_reclamante_menor_edad">Soy Menor de Edad</label>
                </div>
            
                <!-- APODERADO -->
                <div class="form_cotainer_parent">
                    <!-- nombre -->
                    <div class="input_box">
                        <label for="id_apoderado_nombre">Nombre Tutor / Padre / Madre </label>
                        <input id="id_apoderado_nombre" type="text" maxlength="50" name="apoderado_nombre">
                    </div>
                    <!-- domicilio -->
                    <div class="input_box">
                        <label for="id_apoderado_domiclio">Domicilio</label>
                        <input id="id_apoderado_domiclio" type="text" maxlength="50" name="apoderado_domicilio">
                    </div>
                    <!-- correo -->
                    <div class="input_box">
                        <label for="id_apoderado_correo">Correo Electrónico</label>
                        <input id="id_apoderado_correo" type="email" maxlength="50" name="apoderado_correo">
                    </div>
                    <!-- numero de contacto -->
                    <div class="input_box">
                        <label for="id_apoderado_telefono_celular">Teléfono fijo / Celular</label>
                        <input id="id_apoderado_telefono_celular" type="text" minlength="7" maxlength="9" name="apoderado_telefono_celular">
                    </div>
                </div>

                <hr/>

                <!-- BIEN -->
                <h2>Indetificación del Bien Reclamado</h2>
                
                <!-- tipo de bien -->
                <div class="input_radio">
                    <input id="id_bien_tipo_p" type="radio" required value="producto" name="bien_tipo">
                    <label for="id_bien_tipo_p">Producto</label>
                    <input id="id_bien_tipo_s" type="radio" required value="servicio" name="bien_tipo">
                    <label for="id_bien_tipo_s">Servicio</label>
                </div>
                <!-- monto reclamado -->
                <div class="input_box">
                    <label for="id_bien_monto">Monto Reclamado</label>
                    <input id="id_bien_monto" type="text" required maxlength="7" name="bien_monto">
                </div>
                <!-- descripcion -->
                <div class="input_area">
                    <label for="id_bien_descripcion">Descripción</label>
                    <textarea id="id_bien_descripcion" cols="30" required maxlength="255" name="bien_descripcion"></textarea>
                </div>

                <hr/>

                <!-- RECLAMO -->
                <h2>Detalle de Reclamación y Pedido del Consumidor</h2>
                
                <!-- tipo de reclamo -->
                <div class="input_radio">
                    <input id="id_reclamo_tipo_r" type="radio" required value="reclamo" name="reclamo_tipo">
                    <label for="id_reclamo_tipo_r">Reclamo</label>
                    <input id="id_reclamo_tipo_q" type="radio" required value="queja" name="reclamo_tipo">
                    <label for="id_reclamo_tipo_q">Queja</label>
                </div>
                <!-- descripcion reclamo -->
                <div class="input_area">
                    <label for="id_reclamo_descripcion">Detalle</label>
                    <textarea id="id_reclamo_descripcion" cols="30" required maxlength="255" name="reclamo_descripcion" ></textarea>
                </div>
                <!-- descripcion pedido -->
                <div class="input_area">
                    <label for="id_reclamo_pedido">Pedido</label>
                    <textarea id="id_reclamo_pedido" cols="30" required maxlength="255"  name="reclamo_pedido"></textarea>
                </div>

                <hr/>

                <!-- INFO -->
                <div class="input_info">
                    <p>* La formulación del reclamo no impide acudir a otras vías de solución de controversias ni es requisito previo para interponer una denuncia ante el INDECOPI.</p>
                    <p>* El proveedor deberá dar respuesta al reclamo en un plazo no mayor a quince (15) días calendario, pudiendo ampliar el plazo hasta por quince (15) días más, previa comunicación al consumidor.</p>
                </div>

                <!-- BOTON -->
                <div class="input_button">
                    <input type="submit" value="Enviar"/>
                </div>
            </form>
        </div>
    </main>

    <!-- FOOTER -->
    <footer>
        <!-- INFO -->
        <section class="info">
            <!-- LOGO -->
            <div class="info_logo"> 
                <img src="{% static 'assets/logo.png'%}" alt="SeaSavor restaurant logo: A stylized crab representing the freshness and quality of our seafood offerings.">
            </div>
            <!-- SECTIONS -->
            <div class="info_section">
                <h3>About Sea Savor</h3><br>
                <ul>
                    <li><a href="{% url 'home'%}#aboutus">About Us</a></li>
                    <li><a href="{% url 'home'%}#schedule">Schedule</a></li>
                    <li><a href="{% url 'home'%}#menu">Menu</a></li>
                    <li><a href="{% url 'home'%}#locations">Location</a></li>
                    <li><a href="{% url 'home'%}#workwithus">Work With Us</a></li>
                </ul>
            </div>
            <!-- MORE INFORMATION -->
            <div class="info_more">
                <h3>More Information</h3> 
                <ul>
                    <li><a class="book" target="_blank" href="{% url 'book' %}" alt="link for complaints book"></a></li>
                    <li><a class="reference" target="_blank" href="https://dontito.pe/" alt="link for reference website"></a></li>
                </ul>
            </div>
            <!-- MEDIA  -->
            <div class="info_media">
                <h3>Social Media Apps</h3>
                <ul>
                    <li><a class="insta" target="_blank" href="https://www.instagram.com/" alt="link fot instagram aacount"></a></li>
                    <li><a class="face" target="_blank" href="https://www.facebook.com/" alt="link for facebook account"></a></li>
                </ul>
            </div>
        </section>
        <!-- COPY RIGHT -->
        <div class="copyright">
            <span>© SeaSavor Restaurant, 2024. All Rights Reserved</span>
        </div>
    </footer>

    <!-- EXTRA -->
    <div id="extra">
        <!-- FIXED BUTTONS -->
        <div class="extra_button" >
            <a class="wp"  target="_blank" data-aos="zoom-in-up" href="https://wa.me/51123456789?text=I'm%20interested%20in%20your%20menu">
                <img src="{% static 'assets/whats_app.png'%}" alt="Chat on WhatsApp" />
            </a>
            <a class="top" data-aos="zoom-in-up" href="#header">
                <img src="{% static 'assets/up_arrow.png'%}" alt="Narrow to move back to the top" />
            </a>
        </div>
        <!-- FIXED OPTIONS -->
        <div class="extra_option" data-aos="zoom-in-up">
            <a href="#">Booking</a>
            <a href="#">Delivery</a>
            <a target="_blank" href="{% static 'assets/promotions.pdf'%}">Menu</a>      
        </div>
    </div>

    <script src="{% static 'js/book.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>