{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sea Savor</title>
    <meta name="description" content="Discover a world of exquisite seafood dishes at SeaSavor. Our restaurant offers a variety of fresh catches prepared with passion and expertise. Join us for an unforgettable dining experience by the sea.">
    <meta name="keywords" content="seafood restaurant, ocean cuisine, fresh seafood, maritime dining, seafood dishes">
    <!--  CSS & LIBRARIES  -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <!-- HEADER -->
    <header id="header">
        <!-- NAVBAR CONTAINER -->
        <section class="nav_container">
            <!-- LATERAL MENU -->
            <div class="off_screen_menu">
                <ul>
                    <li><a target="_blank" href="https://squareup.com/us/es/appointments">Booking</a></li>
                    <li><a target="_blank" href="https://about.rappi.com/">Delivery</a></li>
                    <li><a target="_blank" href="{% static 'assets/promotions.pdf'%}">Promotions</a></li>
                    <li><hr></li>
                    <li><a href="#aboutus">About Us</a></li>
                    <li><a href="#schedule">Schedule</a></li>
                    <li><a href="#menu">Menu</a></li>
                    <li><a href="#locations">Location</a></li>
                    <li><a href="#workwithus">Work With Us</a></li>
                </ul>
            </div>
            <!-- NAVBAR -->
            <nav class="nav">
                <!-- BUGER BUTTON -->
                <div class="nav_menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!-- LOGO -->
                <div class="nav_logo">
                    <img src="{% static 'assets/logo.png'%}" alt="SeaSavor restaurant logo: A stylized crab representing the freshness and quality of our seafood offerings.">
                </div>
                <!-- OPTIONS -->
                <div class="nav_buttons">
                    <a target="_blank" href="https://squareup.com/us/es/appointments">Booking</a>
                    <a target="_blank" href="https://about.rappi.com/">Delivery</a>
                    <a target="_blank" href="{% static 'assets/promotions.pdf'%}">Promotions</a>
                </div>
            </nav>
        </section>
        <!-- BANNER -->
        <section class="banner">
            <img src="{% static 'assets/logo.png'%}" alt="SeaSavor restaurant logo: A stylized crab representing the freshness and quality of our seafood offerings.">
            <h1>Sea Savor, From the Ocean to Your Plate</h1>
            <div>
                <a target="_blank" href="https://squareup.com/us/es/appointments">Booking</a>
                <a target="_blank" href="https://about.rappi.com/">Delivery</a>
                <a target="_blank" href="{% static 'assets/promotions.pdf'%}">Promotions</a>
            </div>
        </section>
    </header>

    <!-- MAIN -->
    <main>
        <!-- ABOUT US -->
        <section id="aboutus">
            <!-- IMAGE -->
            <div class="aboutus_image" data-aos="zoom-in-up" data-aos-duration="600">
                <img src="{% static 'assets/about_us.jpg'%}" alt="Fresh seafood from SeaSavor: Experience the ocean's bounty with our delicious seafood offerings, expertly prepared and served at SeaSavor restaurant.">
            </div>
            <!-- HISTORY -->
            <div class="aboutus_historia"  data-aos="fade-up" data-aos-duration="600">
                <h2>Own History</h2>
                <p>Steeped in tradition and culinary excellence, SeaSavor is renowned for its commitment to quality and innovation. Each dish is a testament to our dedication to providing an unforgettable dining experience that tantalizes the taste buds and leaves guests craving more.</p>
                <p>From our signature seafood platters to our delectable appetizers and entrees, every dish at SeaSavor is crafted with the freshest ingredients sourced from local fishermen and suppliers. Our family-friendly atmosphere and exclusive dining options ensure that every visit to SeaSavor is a memorable occasion for patrons of all ages.
                </p>
                <p>As we continue our culinary journey, SeaSavor remains committed to exceeding expectations and creating moments of culinary bliss for seafood enthusiasts around the world.</p>
            </div>
        </section>
        <!-- SCHEDULE -->
        <section id="schedule">
            <!-- IMAGE -->
            <div class="schedule_image" data-aos="zoom-in-up" data-aos-duration="600">
                <img src="{% static 'assets/schedule.jpg'%}" alt="Fresh seafood from SeaSavor: Experience the ocean's bounty with our delicious seafood offerings, expertly prepared and served at SeaSavor restaurant.">
            </div>
            <!-- SCHEDULE -->
            <div class="schedule_schedule" data-aos="fade-up" data-aos-duration="600">
                <h2>Schedule</h2>
                <ul>
                    <li>
                        <p><strong>Salon :</strong><br>
                        <br>Monday to Thursday: 11:00 AM - 9:00 PM
                        <br>Friday and Saturday: 11:00 AM - 10:00 PM
                        <br>Sunday: 12:00 PM - 8:00 PM
                        </p>
                    </li>
                    <li>
                        <p><strong>Delivery :</strong><br/>
                        <br>Monday to Thursday: 11:00 AM - 8:30 PM (Last order)
                        <br>Friday and Saturday: 11:00 AM - 9:30 PM (Last order)
                        <br>Sunday: 12:00 PM - 7:30 PM (Last order)
                        </p>
                    </li>
                    <li>
                        <p><strong>Pick Up :</strong><br/>
                        <br>Monday to Thursday: 11:00 AM - 8:45 PM
                        <br>Friday and Saturday: 11:00 AM - 9:45 PM
                        <br>Sunday: 12:00 PM - 8:45 PM 
                        </p>
                    </li>
                </ul>
            </div>
        </section>
        <!-- MENU -->
        <section id="menu">
            <!-- TITLE -->
            <div class="menu_title" data-aos="fade-up" data-aos-duration="600">
                <h2>Menu</h2>
                <span></span>
            </div>
            <!-- STARTERS -->
            <div class="menu_section" data-aos="fade-up" data-aos-duration="600">
                <h3>Starters</h3>
                <ul>
                    <li>
                        <p>Crab Cakes</p><span>$12.99</span>
                        <p class="menu_section_desc">Succulent crab meat blended with breadcrumbs, herbs, and spices, served with a tangy remoulade sauce</p>
                    </li>
                    <li>
                        <p>Shrimp Cocktail</p><span>$10.99</span>
                        <p class="menu_section_desc">Chilled jumbo shrimp served with zesty cocktail sauce , lemon wedges and spices.</p>
                    </li>
                    <li>
                        <p>Calamari Fritti</p><span>$11.99</span>
                        <p class="menu_section_desc">Crispy calamari rings lightly seasoned and fried to perfection, served with marinara sauce.</p>
                    </li>
                    <li>
                        <p>Oysters Rockefeller </p><span>$14.99</span>
                        <p class="menu_section_desc">Fresh oysters topped with a rich mixture of spinach, bacon, and breadcrumbs, baked until golden brown.</p>
                    </li>
                    <li>
                        <p>Tuna Tartare</p><span>$13.99</span>
                        <p class="menu_section_desc">Fresh sushi-grade tuna diced and seasoned with soy sauce, sesame oil, and spices, served with crispy wonton chips.</p>
                    </li>
                </ul>
                <hr>
            </div>
            <!-- SIDE DISHES -->
            <div class="menu_section" data-aos="fade-up" data-aos-duration="600">
                <h3>Side Dishes</h3>
                <ul>
                    <li>
                        <p>Crab Cakes</p><span>$12.99</span>
                        <p class="menu_section_desc">Succulent crab meat blended with breadcrumbs, herbs, and spices, served with a tangy remoulade sauce</p>
                    </li>
                    <li>
                        <p>Shrimp Cocktail</p><span>$10.99</span>
                        <p class="menu_section_desc">Chilled jumbo shrimp served with zesty cocktail sauce , lemon wedges and spices.</p>
                    </li>
                    <li>
                        <p>Calamari Fritti</p><span>$11.99</span>
                        <p class="menu_section_desc">Crispy calamari rings lightly seasoned and fried to perfection, served with marinara sauce.</p>
                    </li>
                    <li>
                        <p>Oysters Rockefeller </p><span>$14.99</span>
                        <p class="menu_section_desc">Fresh oysters topped with a rich mixture of spinach, bacon, and breadcrumbs, baked until golden brown.</p>
                    </li>
                    <li>
                        <p>Tuna Tartare</p><span>$13.99</span>
                        <p class="menu_section_desc">Fresh sushi-grade tuna diced and seasoned with soy sauce, sesame oil, and spices, served with crispy wonton chips.</p>
                    </li>
                </ul>
                <hr/>
            </div>
            <!-- MAIN COURSE -->
            <div class="menu_section"  data-aos="fade-up" data-aos-duration="600">
                <h3>Main Courses</h3>
                <ul>
                    <li>
                        <p>Crab Cakes</p><span>$12.99</span>
                        <p class="menu_section_desc">Succulent crab meat blended with breadcrumbs, herbs, and spices, served with a tangy remoulade sauce</p>
                    </li>
                    <li>
                        <p>Shrimp Cocktail</p><span>$10.99</span>
                        <p class="menu_section_desc">Chilled jumbo shrimp served with zesty cocktail sauce , lemon wedges and spices.</p>
                    </li>
                    <li>
                        <p>Calamari Fritti</p><span>$11.99</span>
                        <p class="menu_section_desc">Crispy calamari rings lightly seasoned and fried to perfection, served with marinara sauce.</p>
                    </li>
                    <li>
                        <p>Oysters Rockefeller </p><span>$14.99</span>
                        <p class="menu_section_desc">Fresh oysters topped with a rich mixture of spinach, bacon, and breadcrumbs, baked until golden brown.</p>
                    </li>
                    <li>
                        <p>Tuna Tartare</p><span>$13.99</span>
                        <p class="menu_section_desc">Fresh sushi-grade tuna diced and seasoned with soy sauce, sesame oil, and spices, served with crispy wonton chips.</p>
                    </li>
                    <li>
                        <p>Mussels Marinara</p><span>$13.99</span>
                        <p class="menu_section_desc">Steamed mussels cooked in a flavorful marinara sauce with garlic, onions, and herbs, served with crusty bread for dipping.</p>
                    </li>
                    <li>
                        <p>Ceviche </p><span>$12.99</span>
                        <p class="menu_section_desc">Fresh white fish marinated in citrus juices with onions, tomatoes, cilantro, and jalapeños, served with tortilla chips..</p>
                    </li>
                    <li>
                        <p>Smoked Salmon Crostini</p><span>$11.99</span>
                        <p class="menu_section_desc">Thinly sliced smoked salmon on toasted baguette slices with herbed cream cheese, capers, and red onion.</p>
                    </li>
                </ul>
                <hr/>
            </div>
            <!-- DRINKS -->
            <div class="menu_section" data-aos="fade-up" data-aos-duration="600">
                <h3>Drinks</h3>
                <ul>
                    <li>
                        <p>Crab Cakes</p><span>$12.99</span>
                        <p class="menu_section_desc">Succulent crab meat blended with breadcrumbs, herbs, and spices, served with a tangy remoulade sauce</p>
                    </li>
                    <li>
                        <p>Shrimp Cocktail</p><span>$10.99</span>
                        <p class="menu_section_desc">Chilled jumbo shrimp served with zesty cocktail sauce , lemon wedges and spices.</p>
                    </li>
                    <li>
                        <p>Calamari Fritti</p><span>$11.99</span>
                        <p class="menu_section_desc">Crispy calamari rings lightly seasoned and fried to perfection, served with marinara sauce.</p>
                    </li>
                    <li>
                        <p>Oysters Rockefeller </p><span>$14.99</span>
                        <p class="menu_section_desc">Fresh oysters topped with a rich mixture of spinach, bacon, and breadcrumbs, baked until golden brown.</p>
                    </li>
                    <li>
                        <p>Tuna Tartare</p><span>$13.99</span>
                        <p class="menu_section_desc">Fresh sushi-grade tuna diced and seasoned with soy sauce, sesame oil, and spices, served with crispy wonton chips.</p>
                    </li>
                </ul>
                <hr/>
            </div>
            <!-- DESERTS -->
            <div class="menu_section">
                <h3>Desserts</h3>
                <ul>
                    <li>
                        <p>Crab Cakes</p><span>$12.99</span>
                        <p class="menu_section_desc">Succulent crab meat blended with breadcrumbs, herbs, and spices, served with a tangy remoulade sauce</p>
                    </li>
                    <li>
                        <p>Shrimp Cocktail</p><span>$10.99</span>
                        <p class="menu_section_desc">Chilled jumbo shrimp served with zesty cocktail sauce , lemon wedges and spices.</p>
                    </li>
                    <li>
                        <p>Calamari Fritti</p><span>$11.99</span>
                        <p class="menu_section_desc">Crispy calamari rings lightly seasoned and fried to perfection, served with marinara sauce.</p>
                    </li>
                    <li>
                        <p>Oysters Rockefeller </p><span>$14.99</span>
                        <p class="menu_section_desc">Fresh oysters topped with a rich mixture of spinach, bacon, and breadcrumbs, baked until golden brown.</p>
                    </li>
                    <li>
                        <p>Tuna Tartare</p><span>$13.99</span>
                        <p class="menu_section_desc">Fresh sushi-grade tuna diced and seasoned with soy sauce, sesame oil, and spices, served with crispy wonton chips.</p>
                    </li>
                </ul>
                <hr/>
            </div>
        </section>
        <!-- LOCATIONS -->
        <section id="locations" data-aos="zoom-in-up" data-aos-duration="600">
            <h2>Location</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243.84170665882263!2d-77.03231180548286!3d-12.080127964446866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c88b5f89ba8f%3A0xf94e45f876e206ac!2sAv.%20Militar%201598%2C%20Lince%2015046!5e0!3m2!1ses-419!2spe!4v1713570615043!5m2!1ses-419!2spe" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <!-- WORK WITH US -->
        <section id="workwithus">
            <!-- IMAGE -->
            <div class="workwithus_image" data-aos="zoom-in-up" data-aos-duration="600">
                <img src="{% static 'assets/work_with_us.jpg'%}" alt="Chefs working next to each other , this picture represents how happy our employess are">
            </div>
            <!-- DESCRIPTION -->
            <div class="workwithus_workwithus" data-aos="fade-up"  data-aos-duration="600">
                <h2>Work With Us</h2>
                <p>At SeaSavor, we're more than just a restaurant - we're a community of seafood enthusiasts committed to excellence in every dish we serve. We pride ourselves on sourcing the freshest ingredients, crafting innovative recipes, and providing unparalleled service to our guests.</p>
                <p>As a member of our team, you'll have the opportunity to work in a dynamic and fast-paced environment where creativity thrives and talent is recognized. Whether you're a seasoned chef, a skilled server, or a hospitality professional with a passion for seafood, there's a place for you at SeaSavor.</p>
                <p><strong>email@host.com</strong></p>
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <footer>
        <!-- INFO -->
        <section class="info">
            <!-- LOGO -->
            <div class="info_logo"> 
                <img src="{% static 'assets/logo.png'%}" alt="SeaSavor restaurant logo: A stylized crab representing the freshness and quality of our seafood offerings.">
            </div>
            <!-- SECTIONS -->
            <div class="info_section">
                <h3>About Sea Savor</h3><br>
                <ul>
                    <li><a href="#aboutus">About Us</a></li>
                    <li><a href="#schedule">Schedule</a></li>
                    <li><a href="#menu">Menu</a></li>
                    <li><a href="#locations">Location</a></li>
                    <li><a href="#workwithus">Work With Us</a></li>
                </ul>
            </div>
            <!-- MORE INFORMATION -->
            <div class="info_more">
                <h3>More Information</h3> 
                <ul>
                    <li><a class="book" target="_blank" href="{% url 'book' %}" alt="link for complaints book"></a></li>
                    <li><a class="reference" target="_blank" href="https://dontito.pe/" alt="link for reference website"></a></li>
                </ul>
            </div>
            <!-- MEDIA  -->
            <div class="info_media">
                <h3>Social Media Apps</h3>
                <ul>
                    <li><a class="insta" target="_blank" href="https://www.instagram.com/" alt="link fot instagram aacount"></a></li>
                    <li><a class="face" target="_blank" href="https://www.facebook.com/" alt="link for facebook account"></a></li>
                </ul>
            </div>
        </section>
        <!-- COPY RIGHT -->
        <div class="copyright">
            <span>© SeaSavor Restaurant, 2024. All Rights Reserved</span>
        </div>
    </footer>

    <!-- EXTRA -->
    <div id="extra">
        <!-- FIXED BUTTONS -->
        <div class="extra_button" >
            <a class="wp"  target="_blank" data-aos="zoom-in-up" href="https://wa.me/51981453194?text=I'm%20interested%20in%20your%20menu">
                <img src="{% static 'assets/whats_app.png'%}" alt="Chat on WhatsApp" />
            </a>
            <a class="top" data-aos="zoom-in-up" href="#header">
                <img src="{% static 'assets/up_arrow.png'%}" alt="Narrow to move back to the top" />
            </a>
        </div>
        <!-- FIXED OPTIONS -->
        <div class="extra_option" data-aos="zoom-in-up">
            <a href="#">Booking</a>
            <a href="#">Delivery</a>
            <a target="_blank" href="{% static 'assets/menu.pdf'%}">Menu</a>      
        </div>
    </div>

    <script src="{% static 'js/home.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>